
<div class="padding">

  <span class="subheader">Login</span>

  <form {{action 'authenticate' on='submit'}}>

    {{input value=identification placeholder="email" class="input"}}
    <br />
    {{input value=password placeholder="password" class="input" type="password"}}
    <br />
    <button type=submit class="large">Sign-in</button>
  </form>

  {{#if errorMessage}}
    <p>
      <strong>Login Failed</strong>
      <code>{{errorMessage}}</code>
    </p>
  {{/if}}

</div>
